{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>{{ category.name }}</h1>
 			</header>
			<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
			{% if category.get_children %}
			{% for child in category.get_children %}
			<a href="{% url 'category' child.slug %}"><li>{{ child.name }}</li></a>
			{% endfor %}
			{% endif %}
		</div>
		<span class="image object">
			<img src="{{ category.image.url }}" style="width: 500px; height: 500px;" alt="" />
		</span>
	</section>


	<!-- Section -->
{% if not category.get_children %}
<section>
	<header class="major">
		<h2>Contacts</h2>
	</header>
	<div class="posts">
		{% for person in persons %}
		<article>
			<a href="#" class="image"><img src="{{ person.get_image }}" style="width: 200px; height: 200px;" alt="" /></a>
			<h3>{{ person }}</h3>
			<p>{{ person.description }}</p>
			<ul class="actions">
				<li><a href="{% url 'detail' person.id %}" class="button">More</a></li>
			</ul>
		</article>
		{% endfor %}
	</div>
</section>
{% endif %}

{% endblock %}